<h1>Question</h1>


<html>
  <body>


     {% for image_entity in image_entities %}
       
    <p>{{image_entity['quess']}} is the question</p>
      {% endfor %}

       <form action="upload_answer{{kind}}" method="POST" enctype="multipart/form-data">
         <p>Enter Answer:</p>
         <p><input type = "text" name = "nm" /></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
    
    {% for image_entity in image_entities %}
       
    <p>{{image_entity['quess']}}</p>
    <hr>
    <br>


      {% endfor %}

      </body>
</html> 
