
  {% for image_entity in image_entities %}
       
  <h1>{{image_entity['quess']}}</h1>
  {% endfor %}





<html>
  <body>

       <form action="upload_answer{{kind}}" method="POST" enctype="multipart/form-data">
         <p>Enter Answer:</p>
         <p><input type = "text" name = "nm" /></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
    
    {% for answer_entity in answer_entities %}
       
    <p>{{answer_entity['quess']}}</p>
    <hr>
    <br>


      {% endfor %}

      </body>
</html> 
