<h1>Google Cloud Platform - Q and A Sample</h1>

<p>This Python Flask application demonstrates App Engine Flexible, Datastore.</p>

<br>

<html>
   <body>
       <form action="upload_photo" method="POST" enctype="multipart/form-data">
         <p>Enter Name:</p>
         <p><input type = "text" name = "nm" /></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
      {% for image_entity in image_entities %}
         {% for i in range(0,length) %}
               <%n=str(i)%>
          <p> {{image_entity[n]}}</p>
          {% if(i==0) %}
          <p>ANSWER COMES HERE</p>
          {% endif %}
         {% endfor %}
        
       <p> uploaded time {{image_entity['timestamp']}} and {{image_entity['1']}} and {{image_entity['2']}} .</p>
      {% endfor %}
   </body>
</html>
