<h1>Events happening in SASTRA UNIVERSITY</h1>

<p>Upload your poster and fill the details of your event below.</p>

<br>

<html>
  <body>
    <form action="upload_photo" method="POST" enctype="multipart/form-data">
      Upload Poster: <input type="file" name="file"><br>
      Event Name: <input type = "text" name = "nm" /><br>
      Venue: <input type = "text" name = "vn" /><br>
      Time: <input type = "text" name = "tm" /><br>

      <input type="submit" name="submit" value="Submit">
    </form>
    {% for image_entity in image_entities %}
      <p>Event poster:</p>
      <img src="{{image_entity['image_public_url']}}" width=200 height=200>
      <p>Event Name : {{image_entity['event_Name']}}.</p>
      <p>Venue:  {{image_entity['Venue']}}.</p>
      <p>Time : {{image_entity['timee']}}</p>
      <p>uploaded time : {{image_entity['timestamp']}}.</p>  
       <hr> 
    {% endfor %}

<iframe
    allow="microphone;"
    width="350"
    height="430"
    src="https://console.dialogflow.com/api-client/demo/embedded/090e521c-0b94-41e0-9f25-11c088326e95">
</iframe>
  </body>
</html> 